.header {
  height: 80px;
  background-color: #fff;

  .header-top {
    height: 40px;
    border-bottom: 1px solid #1DA57A;
    text-align: right;
    line-height: 40px;
    padding-right: 30px;
  }

  .header-bottom {
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 30px;

    .header-bottom-left {
      width: 25%;
      text-align: center;
      font-size: 20px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        border: 20px solid transparent;
        border-top: 20px solid #fff;
      }
    }

    .header-bottom-right {
      width: 75%;
      text-align: right;

      img {
        margin: 0 15px;
        width: 30px;
      }
    }

  }
}
