.left-nav {

  .left-nav-header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #001529;

    img {
      width: 40px;
      height: 40px;
      margin: 0 14px;
    }

    h1 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
