.login {
  width: 100%;
  height: 100%;
  background: url('../../assets/images/bg.jpg');
  background-size: cover;

  .login-header {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgba(21, 20, 13, 0.5);

    img {
      width: 50px;
      height: 50px;
      margin: 0 15px 0 50px;
    }

    h1 {
      font-size: 30px;
      color: #fff;
      margin-bottom: 0 !important;
    }
  }

  .login-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 400px;
    height: 300px;
    background-color: #fff;
    margin: 50px auto;
    padding: 20px 40px;

    h2 {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .login-form{

      .login-form-button {
        width: 100%;
        margin-top: 25px;
      }
    }

  }
}
